body {
    font-size: 16px;
    color: Black;
    background-color: black;
    font-family: 'Oxygen', sans-serif;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

a{
    color: whitesmoke;
    font-size: 20px;
    clear: both;
}
ul {
    font-size: 30px;
    float: left;
  list-style-type: none;
  margin-top:0;
  padding: 0;
  overflow: hidden;
}

li {
    font-size: 30px;
    align-content: center;
}

li a {
  display: block;
  padding: 8px;

}
p{
    color: whitesmoke;
    font-size: 26px;
    margin-top: 50px;
}
.footer{
    background-color: black;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
h5{
    color: black;
}